<!DOCUMENT html>

{% load static %}
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{% static "/audit/reset.css" %}">
		<link rel="stylesheet" href="{% static "/audit/style.css" %}">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	</head>
	
	
	<body>
		<main>
			<div class="estilo-header-ey"></div>
			<h1 class="estilo-h1-ey">IA - Automation Tool</h1>
			<img class="logo-ey" src="{% static "/audit/EYNewLogo.png" %}"/>
			
			<div class="conteudo">
				<select>
					<!-- <option value="Teste1">Teste 1</option> -->
					<!-- <option value="Teste2">Teste 2</option> -->
					{% for audit_type in audit_types %}
					<option value="{{ audit_type.id }}">{{ audit_type.audit_name }}</option>
					{% endfor %}
					
				</select>
			
			</div>
			
		</main>
	
	</body>
	
	
	<footer class="estilo-footer-ey">
		<p class="estilo-p-footer">&copy EY</p>
		<p class="estilo-p-footer estilo-versao">Version 0.0.1</p>
	
	</footer>

</html>