{% extends 'project/Template EY.html' %}

{% block content %}
{% load app_filters %}

    <h2 class="ey-h2-style"><a>Projetos</a></h2>
    <table>
            <th>Project Name</th>
            <th>Description</th>
            <th>Client</th>
            <th>Leader</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Audit Type</th>
            <th>Status</th>
            {% for act in activity %}
                <tr>
                    {% if act.status_id != 2 and request.user.is_staff != 1 %}
                        <td>{{act.project_name}}</td>
                    {% else %}
                        <td><a href="{{act.id}}">{{act.project_name}}</a></td>
                    {% endif %}
                    <td>{{act.activity_description}}</td>
                    <td>{{act.client}}</td>
                    <td>{{act.ey_employee_master.ey_employee_user.first_name}} {{act.ey_employee_master.ey_employee_user.last_name}}</td>
                    <td>{{act.start_date}}</td>
                    <td>{{act.end_date}}</td>
                    <td>{{act.audit}}</td>
                    <td>{{act.status}}</td>
                    <!--<td onclick="run(this)" id="status_{{forloop.counter}}" value="{{act.status_id}}">{{act.status}}</td>-->
                </tr>
            {% endfor %}
    </table>
    
    <form method="post">{% csrf_token %}
        <button class="button" action=""><span>New Project </span></button>
    </form>

    <a href="/documents/">
        <button class="button button2" type="submit2"><span>New Document</span></button>
    </a>

<script>
    function run(object) {
            if(document.getElementById(object.id).innerText == "Aguardando Documentos") {
            alert("Não Pode!");
            }
        }
</script>

{% endblock %}