{% extends 'project/Template EY.html' %}

{% load static %}
{% block content %}
    <!-- <link rel="stylesheet" href="{% static "/project/style_new.css" %}"> -->   
        
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

<div  class="content-table">
    <h2 class="ey-h2-style"><a class="ey_anchor_style" href="/project">Projetos</a> > Detalhes do Projeto: {{activity.project_name}}</h2>
    <h3 class="ey-h3-style">Status: {{activity.status}}</i></h3>
    
    <div align="center">
        <form action="" method="post" autocomplete="on">{% csrf_token %}
            <table>
                <th>Template Name</th>
                <th>Template Description</th>
                <th>Audit Type</th>
                <th>E-mail</th>
                {% for template in templates %}
                    <tr>
                        <td>{{template.template_name}}</td>
                        <td>{{template.template_description}}</td>
                        <td>{{template.audit_type}}</td>                
                        <td>
                            <select name="dropdown">
                                <option value="    "></option>
                                {% for email in email_list %}
                                    <option name="email_field_{{ forloop.counter }}" value="{{email.client_employee.client_user.email}}">{{email.client_employee.client_user.email}}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <button class="button" type="submit" name="teste"><span>Send </span></button>
        <form>
    
    </div>
</div>
{% endblock %}