<!DOCUMENT html>

{% load static %}
<html>
                {% if user.is_authenticated  %}
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{% static "/project/reset.css" %}">
		<link rel="stylesheet" href="{% static "/project/style.css" %}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" >
           <!--<link rel="stylesheet" href="{% static "/project/bootstrap.min.css" %}" >-->
            <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
	</head>
	

	<body>
		<main>

			<div class="ey-header-style"></div>
                 <div class="ey-subheader-style"></div>
			<h1 class="ey-h1-style">IA - Automation Tool</h1>
			<img class="ey-logo" src="{% static "/project/EYNewLogo.png" %}"/>
            
                 <a href="/logout" class="logout">Login</a>
			<div class="content">
                 <div class="content-table">

                
                    {% block content %}
                    {% endblock %}


                </div>
			</div> 
 

           
		</main>
	
	</body>
	
	    
	<footer class="ey-footer-style">
		<p class="p-footer-style">&copy EY</p>
		<p class="p-footer-style version-style">Version 0.0.1</p>	
	</footer>

{% else %}
    <p> Não esta autenticado</p>
{% endif %}
    
</html>