{% extends 'project/Template EY.html' %}

{% load static %}

{% block content %}
    <!-- <link rel="stylesheet" href="{% static "/project/style_new.css" %}"> -->
        
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

{% if user.is_superuser  %}

<div class="content-table" style="padding:0px">
<h2 class="ey-h2-style"><a class="ey_anchor_style" href="/register">Cadastro</a> > {{ type_employee }} > Parte 1</h2>

    <div align="center">
        <tr>
            <form method="POST"> 
                {% csrf_token %}
                <table>
                    {{ form.as_table }} 
               </table>
            <button class="button" type="submit"><span>Next</span></button>
            </form>
        </tr>
    </div>
</div>

{% else %}
    <p> Não esta autenticado</p>
{% endif %}

{% endblock %}