{% extends 'project/Template EY.html' %}

{% load static %}

{% block content %}

<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{% static "/register/style.css" %}">

<h2 class="ey-h2-style"><a class="ey_anchor_style" href="/register">Cadastro</a></h2>

{% if user.is_superuser  %}

<div align="center">
    <a href="/register/client_employee/" class="human-resources">Client</a>
    <a href="/register/ey_employee/" class="manager">EY Employee</a>
    <a href="/register/project_client_employee/"class="human-resources2">Client in Project</a>
    <a href="/register/project_ey_employee/" class="manager2">Ey Employee in Project</a>
</div>

{% else %}
    <p> Não esta autenticado</p>
{% endif %}

{% endblock %}